
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
    font-family: "Outfit", sans-serif;
}

#map {
    position: relative;
    height: 500px;
    margin: 50px;
}
/* #title {
    background-color: #3cb371;
    text-align: center;
    border-radius: 10px;
    width: 100%;

} */

#searchContainer {
    position: absolute; 
    top: 20px;          
    left: 50%;          
    margin-top: 60px;
    /* margin-left: 100px; */
    transform: translateX(-50%); 
    background-color: #bab7b7; 
    border-radius: 10px;      
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
    padding: 20px;           
    max-width: 340px;         
    transition: box-shadow 0.3s ease-in-out;
    z-index: 1000;            
    opacity: 0.7;
}


#searchContainer:hover {
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3); 
}
#seachDivOne {
    width: 300px; 
    margin-bottom: 20px;
}
