<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Company Directory</title>
   
    <link rel="stylesheet" href="../assets/css/bootstrap-5.3.3-dist/css/bootstrap.min.css" />
   
    <link href="../assets/fontawesome/css/all.min.css" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="../assets/image/companyDirectoryFavicon.png"/>
    
    <link href="../assets/css/style.css" rel="stylesheet">
</head>

<body>


<section>
          <!-- search and other btns start here -->
    <div class="appHeader">

      <div id="headDiv" class="row">
        <!-- dynamically populate with search, refresh, filter, add btns -->
      </div>
      <!-- search and other btns start here -->
  

      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="personnelBtn" data-bs-toggle="tab" data-bs-target="#personnel-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">
            <i class="fa-solid fa-person fa-lg fa-fw"></i><span class="d-none d-sm-block">Personnel</span>
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="departmentsBtn" data-bs-toggle="tab" data-bs-target="#departments-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">
            <i class="fa-solid fa-building fa-lg fa-fw"></i><span class="d-none d-sm-block">Departments</span>
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="locationsBtn" data-bs-toggle="tab" data-bs-target="#locations-tab-pane" type="button" role="tab" aria-controls="contact-tab-pane" aria-selected="false">
            <i class="fa-solid fa-map-location-dot fa-lg fa-fw"></i><span class="d-none d-sm-block">Locations</span>
          </button>
        </li>
  
      </ul>
  
    </div>
  
    <div class="tab-content bg-white">
      <div class="tab-pane show active" id="personnel-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
        <div class="table-responsive">
          <table class="table table-hover">

            <tbody id="personnelTableBody">
              <!-- insert rows personnel script -->
            </tbody>
          </table>
        </div>
      </div>
  
      <div class="tab-pane show p-3 container-fluid" id="departments-tab-pane" role="tabpanel" aria-labelledby="personnel-tab" tabindex="0">
        <div class="table-responsive">
            <table class="table table-hover">

                <tbody id="departmentTableBody">
              <!-- populate row with department data -->
                </tbody>
              </table>
            </div>
          </div>
  
      <div class="tab-pane" id="locations-tab-pane" role="tabpanel" aria-labelledby="contact-tab" tabindex="0">
        <div class="table-responsive">
          <table class="table table-hover">

            <tbody id="locationTableBody">
              <!-- populate row with location data -->
            </tbody>
          </table>
        </div>
      </div>
    </div>


<!-- All modals start here -->
<!-- personnel add, update, delete modal start here -->
<!-- add Personnel Modal -->
<div id="createPersonnelModal" class="modal fade" tabindex="-1" data-bs-backdrop="false" data-bs-keyboard="false" aria-labelledby="exampleModalLabel" aria-hidden="true">
  

  <div class="modal-dialog modal-sm modal-dialog-centered modal-dialog-scrollable">

    <div class="modal-content shadow">

      <div class="modal-header bg-primary bg-gradient text-white">
        <h5 class="modal-title">Add employee</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">

        <form method="POST" action="../assets/js/script.js" id="addPersonnelForm">

          <input type="hidden" id="addPersonnelEmployeeID">

          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="addPersonnelFirstName" placeholder="First name" required name="firstName">
            <label for="addPersonnelFirstName">First name</label>
          </div>

          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="addPersonnelLastName" placeholder="Last name" required name="lastName">
            <label for="addPersonnelLastName" >Last name</label>
          </div>

          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="addPersonnelJobTitle" placeholder="Job title" required name="jobTitle">
            <label for="addPersonnelJobTitle">Job Title</label>
          </div>

          <div class="form-floating mb-3">
            <input type="email" class="form-control" id="addPersonnelEmailAddress" placeholder="Email address" required name="email">
            <label for="addPersonnelEmailAddress">Email Address</label>
          </div>

          <div class="form-floating">
            <select class="form-select" id="addPersonnelDepartment" placeholder="Department" name="departmentID">
            </select>
            <label for="addPersonnelDepartment">Department</label>
          </div>

        </form>

      </div>

      <div class="modal-footer">
        <button type="submit" form="addPersonnelForm" class="btn btn-outline-primary btn-sm myBtn">SAVE</button>
        <button type="button" class="btn btn-outline-primary btn-sm myBtn" data-bs-dismiss="modal">CANCEL</button>
      </div>

    </div>

  </div>

</div>




<!-- Edit Personnel Modal -->
<div id="editPersonnelModal" class="modal fade" tabindex="-1" data-bs-backdrop="false" data-bs-keyboard="false" aria-labelledby="exampleModalLabel" aria-hidden="true">

  <div class="modal-dialog modal-sm modal-dialog-centered modal-dialog-scrollable">

    <div class="modal-content shadow">

      <div class="modal-header bg-primary bg-gradient text-white">
        <h5 class="modal-title">Edit employee</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">

        <form method="POST" action="../assets/js/script.js" id="editPersonnelForm">

          <input type="hidden" id="editPersonnelEmployeeID">

          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="editPersonnelFirstName" placeholder="First name" required name="firstName">
            <label for="editPersonnelFirstName">First name</label>
          </div>

          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="editPersonnelLastName" placeholder="Last name" required name="lastName">
            <label for="editPersonnelLastName" >Last name</label>
          </div>

          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="editPersonnelJobTitle" placeholder="Job title" required name="jobTitle">
            <label for="editPersonnelJobTitle">Job Title</label>
          </div>

          <div class="form-floating mb-3">
            <input type="email" class="form-control" id="editPersonnelEmailAddress" placeholder="Email address" required name="email">
            <label for="editPersonnelEmailAddress">Email Address</label>
          </div>

          <div class="form-floating">
            <select class="form-select" id="editPersonnelDepartment" placeholder="Department" name="departmentID">
            </select>
            <label for="editPersonnelDepartment">Department</label>
          </div>

        </form>

      </div>

      <div class="modal-footer">
        <button type="submit" form="editPersonnelForm" class="btn btn-outline-primary btn-sm myBtn">SAVE</button>
        <button type="button" class="btn btn-outline-primary btn-sm myBtn" data-bs-dismiss="modal">CANCEL</button>
      </div>

    </div>

  </div>

</div>


<!-- Delete Personnel Modal -->
<div class="modal fade" id="deletePersonnelModal" tabindex="-1" aria-labelledby="deletePersonnelModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-sm modal-fullscreen-sm-down">
    <div class="modal-content">
      <div class="modal-header bg-primary bg-gradient text-white">
        <h5 class="modal-title" id="deletePersonnelModalLabel">Delete Personnel</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p class="text-center">Are you sure you want to delete this personnel?</p>
      </div>
      <div class="modal-footer">
        <div class="d-flex justify-content-end gap-2 w-100">
          <button type="button" class="btn btn-outline-secondary btn-sm" data-bs-dismiss="modal">CLOSE</button>
          <button id="confirmDeletePersonnelBtn" type="button" class="btn btn-outline-danger btn-sm">DELETE</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!--******* personnel add, update, delete modal ends here******* -->

<!-- Department add, update, delete modal start here -->
<!-- add Department Modal -->
<div id="addDepartmentModal" class="modal fade" tabindex="-1" data-bs-backdrop="false" data-bs-keyboard="false" aria-labelledby="exampleModalLabel" aria-hidden="true">
  

  <div class="modal-dialog modal-sm modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content shadow">
      <div class="modal-header bg-primary bg-gradient text-white">
        <h5 class="modal-title">Add Department</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form method="POST" action="../assets/js/script.js" id="addDepartmentForm">
          <input type="hidden" id="addDepartmentEmployeeID">
          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="addDepartment" placeholder="Department" required name="name">
            <label for="addDepartment">Department</label>
          </div>
          <div class="form-floating">
            <select class="form-select" id="addDepartmentLocation" placeholder="Department" name="locationID">
            </select>
            <label for="addDepartmentLocation">Location</label>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="submit" form="addDepartmentForm" class="btn btn-outline-primary btn-sm myBtn">SAVE</button>
        <button type="button" class="btn btn-outline-primary btn-sm myBtn" data-bs-dismiss="modal">CANCEL</button>
      </div>
    </div>
  </div>
</div>

  <!-- edit Department Modal -->
<div id="editDepartmentModal" class="modal fade" tabindex="-1" data-bs-backdrop="false" data-bs-keyboard="false" aria-labelledby="exampleModalLabel" aria-hidden="true">
  

  <div class="modal-dialog modal-sm modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content shadow">
      <div class="modal-header bg-primary bg-gradient text-white">
        <h5 class="modal-title">Edit Department</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form method="POST" action="../assets/js/script.js" id="editDepartmentForm">
          <input type="hidden" id="addDepartmentEmployeeID">
          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="editDepartment" placeholder="Department" required name="name">
            <label for="editDepartment">Department</label>
          </div>
          <div class="form-floating">
            <select class="form-select" id="editDepartmentLocation" placeholder="Department" name="locationID">
            </select>
            <label for="editDepartmentLocation">Location</label>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="submit" form="editDepartmentForm" class="btn btn-outline-primary btn-sm myBtn">SAVE</button>
        <button type="button" class="btn btn-outline-primary btn-sm myBtn" data-bs-dismiss="modal">CANCEL</button>
      </div>
    </div>
  </div>
</div>


<!-- department add, update, delete modal ends here********** -->



<!-- location add, update, delete modal start here********** -->
<!-- add Location Modal -->
<div id="addLocationModal" class="modal fade" tabindex="-1" data-bs-backdrop="false" data-bs-keyboard="false" aria-labelledby="exampleModalLabel" aria-hidden="true">
  

  <div class="modal-dialog modal-sm modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content shadow">
      <div class="modal-header bg-primary bg-gradient text-white">
        <h5 class="modal-title">Add Location</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form method="POST" action="../assets/js/script.js" id="addLocationForm">
          <input type="hidden" id="addLocationEmployeeID">
          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="addLocation" placeholder="Location" required name="name">
            <label for="addLocation">Location</label>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="submit" form="addLocationForm" class="btn btn-outline-primary btn-sm myBtn">SAVE</button>
        <button type="button" class="btn btn-outline-primary btn-sm myBtn" data-bs-dismiss="modal">CANCEL</button>
      </div>
    </div>
  </div>
</div>

  <!-- edit Location Modal -->
  <div id="editLocationModal" class="modal fade" tabindex="-1" data-bs-backdrop="false" data-bs-keyboard="false" aria-labelledby="exampleModalLabel" aria-hidden="true">
  

    <div class="modal-dialog modal-sm modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content shadow">
        <div class="modal-header bg-primary bg-gradient text-white">
          <h5 class="modal-title">Edit Location</h5>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form method="POST" action="../assets/js/script.js" id="editLocationForm">
            <input type="hidden" id="addLocationEmployeeID">
            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="editLocation" placeholder="Location" required name="name">
              <label for="editLocation">Location</label>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="submit" form="editLocationForm" class="btn btn-outline-primary btn-sm myBtn">SAVE</button>
          <button type="button" class="btn btn-outline-primary btn-sm myBtn" data-bs-dismiss="modal">CANCEL</button>
        </div>
      </div>
    </div>
  </div>


<!-- Notification Modal -->
<div id="notificationModal" class="modal fade" tabindex="-1" data-bs-backdrop="false" data-bs-keyboard="false" aria-labelledby="notificationModalLabel">
  <!-- Centered and scrollable modal -->
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <!-- Modal content with shadow effect -->
    <div class="modal-content shadow">
      <!-- Header with primary gradient and white text -->
      <div class="modal-header bg-primary bg-gradient text-white">
        <h5 class="modal-title" id="notificationModalLabel">Notification</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <!-- Modal body -->
      <div class="modal-body">
        <p class="text-black" id="notificationMessage"></p>
      </div>
      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-primary btn-sm myBtn" data-bs-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>


<!-- Filter Modal -->
<!-- Fixed Filter Modal -->
<div id="filterModalPersonnel" class="modal fade" tabindex="-1" aria-labelledby="filterModalLabel" aria-hidden="true" data-bs-backdrop="false">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable custom-modal-height">
    <div class="modal-content shadow custom-modal-height">
      <div class="modal-header bg-primary bg-gradient text-white">
        <h5 class="modal-title" id="filterModalLabel">Filter Personnel</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body filter-modal-body">

        <div class="d-flex flex-column">
          <!-- Department Selection -->
          <label for="selectDepartmentOption" class="form-label">By Department</label>
          <select class="form-select" id="selectDepartmentOption">
            <option >All</option>
            <!-- Departments will be populated dynamically -->
        </select>

          <!-- Location Selection -->
          <label for="selectLocationOption" class="form-label mt-3">By Location</label>
          <select class="form-select" id="selectLocationOption">
            <option >All</option>
            <!-- Locations will be populated dynamically -->
        </select>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-primary btn-sm myBtn" id="applyFilterBtn">APPLY</button>
        <button type="button" class="btn btn-outline-primary btn-sm myBtn" data-bs-dismiss="modal">CANCEL</button>
      </div>
    </div>
  </div>
</div>


  <!-- are you sure personnel -->
  <div id="areYouSurePersonnelModal" class="modal fade" tabindex="-1" data-bs-backdrop="false" data-bs-keyboard="false" aria-labelledby="exampleModalLabel" aria-hidden="true">



  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">


  <div class="modal-content shadow">

  <div class="modal-header bg-primary bg-gradient text-white">
  <h5 class="modal-title">Remove employee entry?</h5>
  <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>

  <div class="modal-body">

  <form id="areYouSurePersonnelForm">

    <input id="areYouSurePersonnelID" type="hidden">

  </form>

  Are you sure that you want to remove the entry for <span id="areYouSurePersonnelName" class="fw-bold"></span> ?

  </div>

  <div class="modal-footer">
  <button type="submit" form="areYouSurePersonnelForm" class="btn btn-outline-primary btn-sm myBtn">YES</button>
  <button type="button" class="btn btn-outline-primary btn-sm myBtn" data-bs-dismiss="modal">NO</button>
  </div>

  </div>

  </div>

  </div>

  <!--  -->
  <div id="cantDeleteDepartmentModal" class="modal fade" tabindex="-1" data-bs-backdrop="false" data-bs-keyboard="false" aria-labelledby="exampleModalLabel" aria-hidden="true">

  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">

  <div class="modal-content shadow">
  <div class="modal-header bg-primary bg-gradient text-white">
  <h5 class="modal-title">Cannot remove department ...</h5>
  <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>
  <div class="modal-body">
  You cannot remove the entry for <span id="cantDeleteDeptName" class="fw-bold"></span> because it has <span id="personnelCount" class="fw-bold"></span> employees assigned to it.
  </div>
  <div class="modal-footer">
  <button type="button" class="btn btn-outline-primary btn-sm myBtn" data-bs-dismiss="modal">OK</button>
  </div>
  </div>
  </div>
  </div>

  <!-- *********** are you  sure department start ***************** -->
  <div id="areYouSureDeleteDepartmentModal" class="modal fade" tabindex="-1" data-bs-backdrop="false" data-bs-keyboard="false" aria-labelledby="exampleModalLabel" aria-hidden="true">

  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
  <div class="modal-content shadow">
  <div class="modal-header bg-primary bg-gradient text-white">
  <h5 class="modal-title">Remove department?</h5>
  <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>
  <div class="modal-body">
  <form id="deleteDepartmentForm">
    <input type="hidden" id="deleteDepartmentID">
    <p>Are you sure that you want to remove the entry for <span id="areYouSureDeptName" class="fw-bold"></span>?</p>
  </form>
  </div>
  <div class="modal-footer">
  <button type="submit" form="deleteDepartmentForm" class="btn btn-outline-primary btn-sm myBtn" data-bs-dismiss="modal">YES</button>
  <button type="button" class="btn btn-outline-primary btn-sm myBtn" data-bs-dismiss="modal">NO</button>
  </div>
  </div>
  </div>
  </div>
  <!-- *********** are you  sure Location ends ***************** -->

  <!-- *********** are you  sure Location start ***************** -->
  <div id="cantDeleteLocationModal" class="modal fade" tabindex="-1" data-bs-backdrop="false" data-bs-keyboard="false" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <!--   the last two classes centre the modal and, if the content is too long, ensures  -->
  <!--   that the header and footer are always on display by making the body scroll -->
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
  <!-- As the backdrop is disabled we can use the Bootstrap shadow class to add definition to the dialog -->
  <div class="modal-content shadow">
  <div class="modal-header bg-primary bg-gradient text-white">
    <h5 class="modal-title">Cannot remove location ...</h5>
    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>
  <div class="modal-body">
    You cannot remove the entry for <span id="cantDeleteLoctName" class="fw-bold"></span> because it has <span id="locationCount" class="fw-bold"></span> departments assigned to it.
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-primary btn-sm myBtn" data-bs-dismiss="modal">OK</button>
  </div>
  </div>
  </div>
  </div>

  <div id="areYouSureDeleteLocationModal" class="modal fade" tabindex="-1" data-bs-backdrop="false" data-bs-keyboard="false" aria-labelledby="exampleModalLabel" aria-hidden="true">

  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
  <div class="modal-content shadow">
  <div class="modal-header bg-primary bg-gradient text-white">
    <h5 class="modal-title">Remove Location?</h5>
    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>
  <div class="modal-body">
    <form id="deleteLocationForm">
      <input type="hidden" id="deleteLocationID">
      <p>Are you sure that you want to remove the entry for <span id="areYouSureLocName" class="fw-bold"></span>?</p>
    </form>
  </div>
  <div class="modal-footer">
    <button type="submit" form="deleteLocationForm" class="btn btn-outline-primary btn-sm myBtn" data-bs-dismiss="modal">YES</button>
    <button type="button" class="btn btn-outline-primary btn-sm myBtn" data-bs-dismiss="modal">NO</button>
  </div>
  </div>
  </div>
  </div>
  <!-- *********** are you  sure Location ends ***************** -->
<!-- All modals ends here -->
    <footer class="border-top text-center fw-bold">
      <p class="fw-light my-3">Company Directory version 1.0</p>
    </footer>
</section>




<script src="../assets/js/jquery-3.6.0.min.js"></script>
<script src="../assets/css/bootstrap-5.3.3-dist/js/bootstrap.bundle.min.js"></script>
<script type="module" src="../assets/js/script.js"></script>
</body>
</html>